:root {
  --first: #77a6b6;
  --second: #9dc3c2;
  --third: #4d7298;
  --fourth: #a9b2ac;
  --fifth: #8bd403;
}

main {
  margin: 0 auto;
  max-width: 90%;
  padding: 30px 30px;
}

html,
body {
  min-height: 100%;
}

body {
  margin: -5px 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  background: white;
  color: var(--first);
  font-family: Roboto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 60px;
  margin-right: 5px;
  text-align: center;
}

h1:hover {
  color: var(--fifth);
}

h2 {

  font-size: 45px;
  margin-bottom: 30px;
  text-align: center;
}

h3 {
  font-size: 35px;
  margin-top: 30px;
  margin-bottom: 10px;
}

h4 {
  font-size: 30px;
}

.skill {
  padding: 0;
}

li {
  list-style: none;
}

.profile-pic {
  text-align: center;
  border-radius: 50%;
  width: 350px;
  height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
}
/* Header */
header {
  background: var(--third);
}

header a {
  color: var(--second);
}

nav {
  color: var(--first);
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 8px;
}

.nav-flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 -40px;
  justify-content: space-around;
}

nav li {
  cursor: pointer;
}

.clicked-link {
  color: var(--fifth);
}

/* Footer */
footer {
  display: flex;
  position: fixed;
  z-index: 9999;
  background-color: white;
  left: 0;
  bottom: 0;
  width: 100%;
  justify-content: space-around;
}

footer p {
  font-size: 15px;
}

.footer-icons {
  height: 30px;
  width: 30px;
  margin: 0 25px;
}

.footer-links {
  display: flex;
  margin: 0;
  padding: 11px 10px 0;
}

/* Projects */
.project-card {
  margin-bottom: 20px;
  border-bottom: var(--first) solid 3px;
  padding-bottom: 20px;
}

.project-card:last-of-type {
  border-bottom: none;
  padding-bottom: 0%;
}

.title-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: -15px;
}

.link-icon {
  padding: 15px;
  max-width: 100%;
}


.project-image {
  border-radius: 8px;
  border: var(--first) solid 3px;
  max-width: 100%;
}

/* Resume */
.skills {
  text-align: center;
}

.skill {
  column-count: 3;
  text-align: center;
}

.skill li {
  text-align: left;
}

ul .skill {
  padding-left: -40px;
}

.download-resume {
  text-align: center;
  margin-top: 50px;
}

.resume-download-link {
  padding: 5px 10px;
  margin: auto;
  border-radius: 5px;
  border: var(--first) solid 2px;
  color: var(--first);
  text-decoration: none;
}

.resume-download-link:hover {
  color: white;
  background-color: var(--third);
  border: var(--third) solid 2px;
  text-decoration: none;
}

/* Contact */
form {
  width: 100%;
}

#name,
#email {
  border: var(--first) solid 1px;
  display: flex;
  width: 100%;
  height: 30px;
  border-radius: 3px;
  font-size: 20px;
  color: var(--fourth);
  font-family: Roboto;
}

#message {
  font-family: Roboto;
  display: flex;
  width: 100%;
}

textarea {
  width: 600px;
  height: 120px;
  border: var(--first) 1px solid;
  padding: 5px;
  border-radius: 3px;
  font-size: 20px;
  color: var(--fourth);
}

button {
  font-size: 20px;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 15px 0;
  color: #fff;
  background-color: var(--third);
  padding: 10px 15px;
}

button:hover {
  background-color: var(--fifth);
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

.error-text {
  color: rgb(233, 76, 76);
  font-weight: bold;
}

@media only screen and (max-width: 604px) {
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 25px;
  }

  /* Header */
  .nav-flex {
    font-size: 25px;
  }

  /* Footer */
  .footer-icons {
    height: 30px;
    width: 30px;
  }

  footer p {
    font-size: 15px;
  }

  /* About */
  .profile-pic {
    height: 250px;
    width: 250px;
  }

  /* Projects */
  .link-icon {
    height: 30px;
    width: 30px;

  }

  /* Resume */
  .skill {
    font-size: 15px;
  }

  h4 {
    font-size: 25px;
  }

  /* Contact */
  .contact-form-label {
    font-size: 15px;
  }

  #name,
  #email,
  #message,
  button {
    font-size: 15px;
  }
}

@media only screen and (max-width: 508px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 20px;
  }

  /* Header */
  .nav-flex {
    font-size: 20px;
  }

  /* Footer */
  footer p {
    font-size: 15px;
    padding-top: 5px;
  }

  .footer-icons {
    margin: 5px;
  }

  .footer-link a {
    padding: -20px;
  }

  /* Projects */
  .link-icon {
    height: 20px;
    width: 20px;
    margin: 0 -10px;
  }

  .skills h3 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 416px) {
  h1 {
    font-size: 35px;
  }

  h3 {
    font-size: 15px;
    margin-top: 32px;
  }

  /* Header */
  li span {
    padding: 0 55px;
  }

  /* Footer */
  footer p {
    font-size: 10px;
    padding-top: 15px;
  }

  .footer-icons {
    height: 25px;
    width: 25px;
  }

  .footer-links {
    padding: 5px -25px;
  }

  /* Projects */
  .link-icon {
    height: 15px;
    width: 15px;
  }
}
